#dato0{
    color:chartreuse;
    font-size: 40px;
}
.pato{
    color:aqua;
    font-family: Arial, Helvetica, sans-serif;
    text-align-last: right;
    background-color: purple;
}

h3{
    color: crimson;
}
div{
    height: 400px;
    width: 400px;
}